extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/blobs")
		p Title:
			input#inputTitle(type="string", placeholder="Defender 110", name="title")
		p Description:
			input#inputDescription(type="string", placeholder="Trail tested", name="description")
		p Price:
			input#inputPrice(type="number", placeholder="$15,000", name="price")
		p Year:
			input#inputYear(type="date", placeholder="1990", name="year")
		p Location:
			input#inputLocation(type="string", placeholder="Seattle", name="location")

		p
			button#btnSubmit(type="submit") submit