<% include header %>
<h1>Welcome to Overland It!</h1>
<% include footer %>

<div id="showInfo">
<h2>Enjoy these blogs of people on long term overland adventures!</h2>
<ul>
	<li>
		<a href="http://www.landcruisingadventure.com/">Landcruising Adventure:</a> Marijke and Coen, a 	Dutch couple have been driving their ’84 Diesel 	Landcruiser since 2003… methodically and slowly 	visiting getting to know the Earth, they are 		really doing it the right way.
	</li>
	<li>
		<a href="http://moglander.com/">Moglander's Travels</a> In their words "The tales of 3 adventurers, Merv and Sarah who are new to overlanding, and Moglander who has been on previous adventures. As we find new places, and meet new people, we try to tell their tales as best we can." Moglander is a MB Unimog 1300L.
	</li>
	<li>
		<a href="http://www.treadtheworld.com/Tread_the_world/Welcome.html">Tread the World</a> Lesley and Bruce are traveling with their Unicat Unimog.
	</li>
	<li>
		<a href="http://www.worldexperience.com.br/">World Experience</a> (portuguese) Brazilians Danusa, Fernando and their trusty Land Rover are driving around the world.
	</li>
	<li>
		<a href="https://meltamerica.wordpress.com/the-plan/"> M.E.L.T. America</a>: Malena (2.5), Ezequiel (35), Lucila (34) and Tomás (5), a family driving their 2010 4Runner from Argentina to the U.S.
	</li>
	<li>
		<a href="http://www.lodzi.com/index.htm">Lodzi</a> James and Kerri drove 22 months around the Americas in a Landrover.
	</li>
	<li>
		<a href="http://thevagabondadventures.com">The Vagabond Adventures</a>Lucie, Lachlan and BowWow's awesome site of their awesome trip.
	</li>
</ul>

<h2><a href=<%='/blobs/' %>>Click Here</a> For Expedition Vehicles</h2>
</h3>

</div>

<% include footer %>