<% include header %>
<h1>Welcome to Overland It!</h1>
<% include footer %>

<div id="showInfo">
<h2>Enjoy these overland adventure blogs!</h2>
<ul>
	<li>
		<a href="http://www.weltrekordreise.ch/">Record Tour</a>Emil and Liliana Schmid hold the record for longest overland expedition. 31 years on the road in an fj60! Aweful website but lots of cool info!
	</li>
	<li>
		<a href="http://www.landcruisingadventure.com/">Landcruising Adventure:</a> Marijke and Coen, a 	Dutch couple have been driving their ’84 Diesel 	Landcruiser since 2003… methodically and slowly 	visiting getting to know the Earth, they are 		really doing it the right way.
	</li>
	<li>
		<a href="http://moglander.com/">Moglander's Travels</a> In their words "The tales of 3 adventurers, Merv and Sarah who are new to overlanding, and Moglander who has been on previous adventures. As we find new places, and meet new people, we try to tell their tales as best we can." Moglander is a MB Unimog 1300L.
	</li>
	<li>
		<a href="http://www.treadtheworld.com/Tread_the_world/Welcome.html">Tread the World</a> Lesley and Bruce are traveling with their Unicat Unimog.
	</li>
	<li>
		<a href="http://www.worldexperience.com.br/">World Experience</a> (portuguese) Brazilians Danusa, Fernando and their trusty Land Rover are driving around the world.
	</li>
	<li>
		<a href="https://meltamerica.wordpress.com/the-plan/"> M.E.L.T. America</a>: Malena (2.5), Ezequiel (35), Lucila (34) and Tomás (5), a family driving their 2010 4Runner from Argentina to the U.S.
	</li>
	<li>
		<a href="http://www.lodzi.com/index.htm">Lodzi</a> James and Kerri drove 22 months around the Americas in a Landrover.
	</li>
	<li>
		<a href="http://thevagabondadventures.com">The Vagabond Adventures</a>Lucie, Lachlan and BowWow's awesome site of their awesome trip.
	</li>
	<li>
		<a href="http://transworldexpedition.com/">TransWorld Expedition</a> Niclolas drove around the world in a 1996 Toyota Landcruiser.
	</li>
	<li>
		<a href="http://bodeswell.com/">Bodeswell</a> The adventures of Angela, Jason and their son, Bode as they drive their 1971 VW Camper around the Americas.
	</li>
	<li>
		<a href="http://homeonthehighway.com">Home on the Highway</a> James, Lauren travel around the Americas in a 1987 4Runner.
	</li>
	<li>
		<a href="www.drivenachodrive.com">Drive Nacho Drive</a> VW van repair enthusiests, Brad and Sheena have been driving around the world since 2011. 
	</li>
	<li>
		<a href="http://patagoniaorbust.tumblr.com">Patagonia or Bust</a> (Tumblr page). Joe and Kylee drive their cool Tacoma from Oregon to Patagonia. 
	</li>
	<li>
		<a href="30forthirty.org/page/2/">30 for Thirty</a>An adventure driving through central america and traveling to South America.
	</li>
</ul>

<h2><a href=<%='/blobs/' %>>Click Here</a> For Expedition Vehicles</h2>
</h3>

</div>

<% include footer %>