doctype html
html
  head
    title= title

  body
    block content
 html.
<head>
<title>proj3 Expedition Vehicles</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.css">	
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.js"></script>

<script src="/js/app.js"></script>
</head>

<body ng-app="TacoApp" >
<div ng-controller="AppCtrl">
<md-fab-toolbar md-open="demo.isOpen" count="demo.count" md-direction="{{demo.selectedDirection}}">
<md-fab-trigger class="align-with-text">
<md-button aria-label="menu" class="md-fab md-primary">
<md-icon>face</md-icon>
</md-button>
</md-fab-trigger>
<md-toolbar>
<md-fab-actions class="md-toolbar-tools">
<md-button aria-label="comment" class="md-icon-button">
<md-tab label="Hide All" ng-click="bool=true"></md-tab>
<md-icon>face</md-icon>
</md-button>
<md-button aria-label="label" class="md-icon-button">
<md-icon>face</md-icon>
</md-button>
<md-button aria-label="photo" class="md-icon-button">
<md-icon>book</md-icon>
</md-button>
<md-button aria-label="photo" class="md-icon-button">
<md-icon>book</md-icon>
</md-button>
<md-button aria-label="photo" class="md-icon-button">
<md-icon>book</md-icon>
</md-button>
</md-fab-actions>
</md-toolbar>
</md-fab-toolbar>

<h1>{{2+2}}</h1>
<div layout="row" layout-sm="column">

<div flex>
<!-- layout = column on click and adjust scroll to this card -->
<md-card>	
<img src="/images/smart.gif" class="md-card-image" alt="image caption">
<md-card-content>
<h2>Smart Car</h2>
<p>Portland fixie lomo butcher leggings tattooed. Gentrify Bushwick keytar PBR</p>
</md-card-content>
</md-card>
</div>
<div flex ng-hide="bool">
<md-card>
<img src="/images/truck.gif" class="md-card-image" alt="image caption">
<md-card-content>
<h2>Panzier</h2>
<p>Banjo fashion axe readymade, Blue Bottle small batch art party bitters food truck Portland fixie lomo butcher leggings tattooed. </p>
</md-card-content>
</md-card>
</div>
<div flex ng-hide="bool">
<md-card>
<img src="/images/hill.gif" class="md-card-image" alt="image caption">
<md-card-content>
<h2>Buggy</h2>
<p>Portland fixie lomo butcher leggings tattooed. Gentrify Bushwick keytar PBR</p>
</md-card-content>
</md-card>
</div>
</div>
</div>
<div layout="row" layout-sm="column">
<div flex ng-hide="bool">
<md-card>
<img src="/images/D90.jpeg" class="md-card-image" alt="image caption">
<md-card-content>
<h2>Defender 90</h2>
<p>Portland fixie lomo butcher leggings tattooed. Gentrify Bushwick keytar PBR</p>
</md-card-content>
</md-card>
</div>

<div flex ng-hide="bool">
<md-card>
<img src="/images/Unimog.jpg" class="md-card-image" alt="image caption">
<md-card-content>
<h2>Unimog 1300</h2>
<p>Portland fixie lomo butcher leggings tattooed. Gentrify Bushwick keytar PBR</p>
</md-card-content>
</md-card>
</div>
<div flex ng-hide="bool">   		
<md-card> 

<img src="/images/yellow.jpg" class="md-card-image" alt="image caption">
<md-card-content>
<h2>Land Rover Defender 110</h2>
<p>Brunch ugh beard, pour-over fap Austin crucifix keytar scenester normcore selfies. </p>
</md-card-content>
</md-card>				
</div>
</div> 
</div>
</body>