html {
  /*background-color: #FFFFCC;*/
  background-image: url(http://goo.gl/vcjM7H);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
  text-align: center;
} 
#header {
  padding-top: 5%;
  padding-bottom: 15%;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
  background-image: url('https://goo.gl/6lK8da');
  background-size: cover;
  background-color: #FCFBE3;
  border-radius: 5%;

}
a {
  color: #00B7FF;
}
h1 {
  font-size: 5em;
  font-weight: bold;

}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 2em;
}
md-card {
	background: linear-gradient(#DEB887, #C0C0C0);
	width: 95%;
	position: center;
	text-align: center;
	border-radius: 5%;
}
div {
	position: center;
	margin-right: auto;
	margin-left: auto;	
}
.md-fab-toolbar {
  text-align: left;
  margin-top: -3%;
}
.md-fab-trigger {
  background-color: green;
}
#showInfo {
    background: linear-gradient(#C0C0C0, #DEB887);
    border-radius: 7%;
    height: 90%;
    padding: 5%;
    padding-top: 1px;
}
#showImg {
  width: 90%;
  margin: 0%,7,7%,7%;
  border-radius: 7%;
}
#specs {
  text-align: left;
}
ul {
  text-align: left;
  font-size: 1.5em;
}