html {
  /*background-color: #FFFFCC;*/
  background-image: url(http://goo.gl/vcjM7H);
	
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
} 

a {
  color: #00B7FF;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
md-card {
	background-color: ;
	width: 95%;
	position: center;
	text-align: center;

}
div {
	position: center;
	margin-right: auto;
	margin-left: auto;
	
}